@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Rubik:wght@300&display=swap');

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

body {
  background: #202020;
  color: #fff;
}

h1 {
  font-weight: 100;
  padding: 10px;
}

button {
  color: white;
  padding: 4px;
  background: #303030;
  border: #494949 1px solid;
  font-family: 'Rubik', sans-serif!important;
  user-select: none;
}

button:hover {
  background: #424242;
}

button:active {
  background: #2e2e2e;
}